html{
    height:flex;
    background: #232323;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255)
}


ul{
    width:max-content;
    margin:0;
    padding: 0;
    list-style-type: none;
}
li{
    float: left;
}
li a{
    align-items: stretch;
    display:inline-block;
    text-align: center;
    font-size: large;
    color: rgb(56, 158, 56);
    padding: 20px 40px;
    background-color: rgb(0, 0, 0);
}
li a:hover{
    background: linear-gradient(180deg, #282828 50%, #717171 100%, #c3c3c3 70%)
}

h1{
    text-indent: 5%;
    line-height: 50px;
    margin: 50px 50px 50px 50px;
    align-content: center;
}
p{
    line-height: 55px;
    font-size: larger;
    margin-left: 15%;
    margin-right: 15%;
}